a[href="about.html"] {
  pointer-events: none;
  cursor: default;
}

main {
  height: 100vh;
  display: flex;
  position: relative;
}

h1 {
  margin-below: 10vh !important;
}

#container_blue {
  height: 90vh;
  padding: 20vh 10vw 30vh 10vw;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

#container_orange {
  height: 55vh;
  padding-top: 22.5vh !important;
}
