.main-content {
  padding-top: 100px !important;
  height: 550px !important;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

@media (max-width: 990px) {
  .main-content {
    padding-top: 180px;
  }
}
