a[href="faq.html"] {
  pointer-events: none;
  cursor: default;
}

main {
  margin-top: 10vh !important;
  justify-content: center; /* align horizontal */
  align-items: center;
}

.faq-header {
  margin-top: 10vh;
}

.faq-question {
  margin-top: 2vh;
}

.faq-question .question {
  font-size: 20px;
  cursor: pointer;
  display: block;
  height: 5vh;
}

.answer {
  display: none;
  font-size: 16px;
  line-height: 1.7;
}

.question .text, .glyphicon {
  float: left;
}

.glyphicon {
  display: inline-block;
  padding-top: 7px;
  padding-left: 7px;
  color: #f2b124;
}

main a {
  text-decoration: none;
  color: #f2b124;
}

main a:hover {
  text-decoration: none;
  color: #000000;
}

main h2 {
  color: #2895fe;
}

#container_orange {
  height: 55vh;
  padding: 22vh 0 22vh 0;
  text-align: right;
}
