main {
  margin-top: 10vh !important;
  height: 20vh;
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
}

.faq-header {
  margin-top: 10vh;
  margin-left: 10vw%;
}

.faq-question {
  margin-top: 2vh;
  margin-left: 10vw%;
}

.faq-question .question {
  font-size: 20px;
  cursor: pointer;
  display: block;
  height: 5vh;
}

.answer {
  display: none;
  font-size: 16px;
  line-height: 1.7;
}

.question .text, .glyphicon {
  float: left;
}

.glyphicon {
  padding-top: 7px;
  padding-left: 7px;
}

#container_blue h2 {
  color: #f2b124;
}

#container_blue {
  padding-top: 0 !important;
  padding-bottom: 10vh !important;
}

#container_orange {
  height: 55vh;
  padding: 22vh 0 22vh 0;
  text-align: right;
}

@media (max-width: 990px) {

}
