a[href="lcu.html"] {
  pointer-events: none;
  cursor: default;
}

.image-container {
  max-width:33vw;
}

.image-container img {
  width: auto !important;
  margin-top: 5vh;
  height: 35vh;
}

#container_blue {
  padding: 20vh 10vw 30vh 10vw !important;
  height: 90vh;
  align-items: center;
}

#container_blue h2 {
  margin-bottom: 5vh;
}

#container_orange {
  height: 55vh;
  padding: 22vh 0 22vh 0;
  text-align: right;
}

main {
  height: 90vh;
  font-size: 14px;
}

@media (max-width: 990px) {
  .image-container img {
    height: 20vh !important;
  }

  main {
    height: 80vh !important;
    margin-top: 20vh !important;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
<<<<<<< HEAD
    font-size: 20px;
=======
    font-size: 14px;
  }

  #container_blue {
    height: 80vh !important;
  }

  #container_blue {
    height: 80vh !important;
  }

  #container_orange {
    height: 45vh !important;
>>>>>>> origin/master
  }

  h3 {
    font-size: 14px;
  }

  #container_blue {
    height: 80vh !important;
  }

  #container_blue {
    height: 80vh !important;
  }

  #container_orange {
    height: 45vh !important;
  }
}
