a[href="index.html"] {
  pointer-events: none;
  cursor: default;
}

.image-container {
  max-width: 26.66vw;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}

.row {
  width: 80vw !important;
}

.image-container img {
  width: auto !important;
  margin-top: 5vh;
  height: 35vh;
}

#container_blue {
  padding: 20vh 10vw 30vh 10vw;
  height: 90vh;
  align-items: center;
}

#container_blue h2 {
  margin-bottom: 5vh;
}

#container_orange {
  height: 55vh;
  padding: 22vh 10vw 22vh 10vw;
  text-align: right;
}

main {
  height: 90vh;
  font-size: 14px;
}

@media (max-width: 990px) {
  .image-container img {
    height: 10vh !important;
  }
}
