/* Importing fonts */
@font-face {
    font-family: BiggerFont;
    src: url("assets/fonts/codelight.otf");
}

@font-face {
    font-family: SmallerFont;
    src: url("assets/fonts/lane.ttf");
}

/* HEADER */
header {
  position: fixed;
  z-index: 100;
  background: white;
  width: 100%;
  margin: 0;
  padding: 0;
}

header.container {
  padding: 0;
}

header .row, footer .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  border-style: solid;
  border-color: blue;
}

header nav {
  display: flex;
  justify-content: flex-end;
  padding: 0 !important;
  width: initial !important;
}

header div.logos {
  flex-grow: 1;
  border-style: solid;
  border-color: red;
  height: 10vh;
  max-width: 50%;
}

header nav {
  flex-grow: 3;
  border-style: solid;
  border-color: green;
}


/* DROPDOWN */
.dropbtn {
  background-color: #2695fe;
  color: white;
  height: 90px;
  width: 100%;
  /*padding: 0px 40px;*/
  margin: 0;
  border-radius: 0px;
  font-size: 15px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
    width: 25%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none !important;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #54aafe;
    color: white;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    text-align: center;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #54aafe;
}

/* BODY */
#video-background {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: .75;
}

div.stretchy-wrapper {
  position: absolute;
  width: 100%;
  padding-bottom: 56.25%;
  background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  top: 0;
}

.overlay {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 0;
  width: 100%;
  text-align: center;
}

div.stretchy-wrapper > div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
}

body {
  font-family: 'SmallerFont', sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

section nav {
  display: flex;
}

.jumbotron {
  display: flex;
  align-items: center;
  color: #ffffff;
  height: 650px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

section .row img {
  margin: 0 0 30px;
  width: 100%;
}


/* Container for the top and bottom blocks after the main paragraph */
#container_orange {
    display:inline-block;
    background-color: #f2b124;
    width: 100%;
    margin-left: none;
    margin-right: none;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    text-align: right;
    vertical-align: top;
    line-height: 1;
    font-family: 'SmallerFont', sans-serif;
    font-size: 30px;
    color: white;
}

/* Container for the middle block after the main paragraph */
#container_blue{
  display: inline-block;
  background-color: #2895fe;
  width: 100%;
  margin-left: none;
  margin-right: none;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  text-align: left;
  vertical-align: top;
  line-height: 1;
  font-family: 'SmallerFont', sans-serif;
  font-size: 30px;
  color: white;
}

#container_blue a {
  text-decoration: none;
  color: #f2b124;
}

#container_blue a:hover {
  text-decoration: none;
  color: #ffffff;
}

/* FOOTER */
footer {
  text-align: center;
  font-size: 12px;
  font-family: 'SmallerFont', sans-serif ;
  padding: 20px;
  text-align: center;
}

footer a {
  color: black;
  text-decoration: none;
}

footer a:hover {
  color:#f2b124;
  text-decoration: none;
}

footer nav.links {
  height: 150px;
}

.social-logo {
  height: 16px;
  width: 16x;
  margin: 0 8;
}

/* BUTTONS */
.btn.btn-primary {
  border-radius: 0px;
  border: 0px;
  color: #ffffff;
  text-shadow: none;
  background-color: #2895fe;
  padding: 15px;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #54aafe;
}

@media (max-width: 990px) {
  header .logo {
    padding: 10px 0;
    float: left;
    width: 100vw;
  }

  header .nav {
    width: 100vw;
  }

  .dropdown-content {
      width: 100vw;
  }

  .main-content {
    padding-top: 12vh;
  }
}
