a[href="rates.html"] {
  pointer-events: none;
  cursor: default;
}

main {
  margin-top: 10vh !important;
  justify-content: center; /* align horizontal */
  align-items: center;
  height: 90vh;
}

main {
  height: 100vh;
  display: flex;
  position: relative;
}

main h1 {
  margin-bottom: 5vh;
}

table {
  width: 80vw;
  text-align: center;
}

table * {
  padding-top: 2px;
  padding-bottom: 2px;
}

th {
  font-weight: bold;
  text-align: center !important;
  background-color: #2895fe;
  color: white;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

td {
  background-color: #ffffff;
  color: #000000;
  text-align: center !important;
}

.divider {
  font-weight: bold;
  background-color: #fec846;
  color: #ffffff;
  text-align: left !important;
  padding-left: 10px;
}

.compare-target {
  background-color: white !important;
  text-align: left !important;
  padding-left: 10px;
}

#container_orange {
  height: 55vh;
  padding: 22vh 0 22vh 0;
  text-align: right;
}

@media (max-width: 990px) {
  table {
    width: 96vw !important;
    margin-left: 2vw !important;
    margin-right: 2vw !important;
  }

  th, td, .divider, .compare-target {
    font-size: 12px;
  }
}
