@font-face {
    font-family: modern-pictograms;
    src: url(https://cdn2.hubspot.net/hubfs/616968/ModernPictogramsPro_2.34.otf?t=1485547716764)
}

html, body {
    height: 100%;
    -webkit-overflow-scrolling: touch
}

.message-bar {
    background: #f15e22;
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 14px
}

.message-bar-text {
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    margin: 0 auto
}

.close-message {
    float: right;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    max-width: 30px;
    cursor: pointer
}

.close-message i.fa {
    font-size: 18px
}

.KJEError {
    color: transparent !important
}

.KJEReport {
    margin-top: 50px
}

table.lpInviteChatTbl {
    display: none !important
}

.tier-one-banner .span12.widget-span.widget-type-cell {
    float: none
}

.question-answers p.prPaAnswerLnk {
    display: none
}

.question-answers .prPaAnswerList {
    margin-left: 0
}

.question-answers .prPaContainer li {
    margin-left: 40px
}

.mapTitle {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 15px;
    text-align: center
}

.iconSmall {
    width: 24px !important;
    height: 24px !important
}

.iconMedium {
    width: 32px !important;
    height: 32px !important
}

.prequalform .hs-form-field > label {
    display: none
}

.fa.fa-search {
    cursor: pointer
}

.bg-red {
    background-color: #cf0a2c
}

.show-on-mobile {
    display: none
}

a.cta_button.button--green {
    display: inline-block
}

.white-text {
    color: white
}

h2.white-text {
    color: white
}

.banner-smart h1 {
    font-size: 60px;
    font-weight: 300
}

.banner-smart p {
    font-size: 21px
}

.banner-smart .cm-richtext-content__description, .banner-smart .banner-text p {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 15px
}

.banner-text.title-only {
    padding: 130px 15px 142px
}

.banner-text {
    padding: 90px 15px 142px
}

.black-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    min-height: 400px
}

.footer-container-wrapper {
    background-color: #f3f3f3
}

.breadcrumbs {
    margin-top: 10px !important
}

.breadcrumbs, .breadcrumbs a {
    color: white;
    font-weight: 300
}

.breadcrumbs .hs-breadcrumb-menu-divider:before {
    content: '››';
    padding-left: 10px
}

.breadcrumbs .hs-breadcrumb-menu-item.first-crumb {
    padding-left: 0
}

.description {
    font-size: 18px;
    font-weight: 300
}

.hundred-section {
    padding: 100px 0
}

.hundred-section .seven-fifty {
    max-width: 750px;
    margin: 0 auto !important;
    float: none !important
}

.section-title {
    color: #666363;
    font-size: 48px;
    font-weight: 300;
    text-align: center
}

.features-section {
    padding: 95px 15px
}

.features-section .row {
    clear: both;
    margin-top: 30px
}

.features-section .row .icon-container {
    max-width: 85px;
    width: 85px;
    height: 85px;
    vertical-align: top;
    float: left
}

.features-section .row .icon-container .svg-icon {
    max-width: 85px
}

.features-section .row .text {
    max-width: 560px;
    padding-left: 115px
}

.features-section .row .text .title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px
}

.features-section .row .text .body {
    font-size: 18px;
    font-weight: 300;
    padding-right: 20px
}

.features-section .left-col {
    max-width: 50%;
    display: inline-block;
    vertical-align: top
}

.features-section .right-col {
    max-width: 49%;
    display: inline-block;
    vertical-align: top;
    float: right
}

.features-item .features-item svg {
    max-width: 85px
}

.features-section .features-two {
    margin-top: 90px
}

.features-section-two {
    padding-top: 0
}

.features-section .row .icon-container img {
    max-width: 100%;
    max-height: 100%
}

.features-section #fullFrame #formDiv {
    background-color: #00a049 !important
}

.small-text {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5em;
    margin-bottom: 50px !important
}

.small-text ul li {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.5em
}

.our-cards-share {
    margin-bottom: 75px
}

ul.checkmarks {
    max-width: 950px;
    margin-bottom: 25px;
    margin-top: 25px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto
}

ul.checkmarks li {
    line-height: 1.5em;
    float: left;
    display: inline;
    background-image: url(//cdn2.hubspot.net/hubfs/616968/website-images/icons/check-2.png?t=1485547716764);
    background-repeat: no-repeat;
    background-size: 22px;
    padding-left: 40px;
    background-position-y: 5px;
    margin-bottom: 20px
}

ul.checkmarks#two-col li {
    width: 50%;
    padding-right: 25px
}

.page-color-cta {
    padding: 75px 15px;
    text-align: center
}

.page-color-cta .cta-one-text {
    font-weight: 300;
    font-size: 36px;
    display: inline-block;
    vertical-align: middle
}

.page-color-cta .button {
    display: inline-block;
    vertical-align: middle
}

.page-color-cta .cta_button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    box-shadow: none;
    padding: .6em 2em
}

.table-one .section-title {
    padding-top: 90px
}

.table-one {
    padding: 0 15px;
    background-color: #f0f0f0;
    text-align: center;
    min-height: 0 !important
}

.table-one .title-text {
    margin-bottom: 50px
}

.table-one .title-text a {
    color: #00a049;
    text-decoration: none
}

.table-one .title-text a:hover {
    text-decoration: underline
}

.table-one-icons {
    padding-top: 100px;
    width: 30% !important;
    display: inline-block !important;
    text-align: left
}

.table-one-icons .row {
    height: 80px;
    display: table-cell;
    vertical-align: middle
}

.table-one-icons svg {
    max-width: 45px
}

.table-one-icons .icon-container {
    max-width: 45px;
    width: 45px;
    display: table-cell
}

.table-one-icons .text {
    padding-left: 20px;
    display: table-cell;
    vertical-align: middle
}

.table-one li {
    background: white;
    min-height: 80px
}

.table-one li:nth-child(odd) {
    background: #fafafa
}

.table-one .table-col {
    width: 21%;
    margin-left: 1%;
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: top
}

.table-one .table-col img {
    max-width: 40px;
    position: relative;
    top: 20px
}

.table-title {
    opacity: .85;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 300;
    height: 100px;
    width: 255px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 20px
}

.table-one li:last-child {
    padding: 15px
}

.table-one .l-page-wrap {
    padding-left: 0;
    padding-right: 0;
    min-height: 0
}

.table-col .cta_button, .table-col-two .cta_button {
    display: block;
    margin: 0 15px
}

.center.style-two .section-title {
    padding-top: 0
}

.table-columns-wrap.more .center.style-two {
    padding: 30px 10px
}

.table-columns-wrap {
    width: 100% !important;
    vertical-align: top
}

.table-columns-wrap .title {
    opacity: .85;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: 300;
    padding: 0 20px;
    height: 100px
}

.table-one .table-col-two {
    width: 100%;
    max-width: 255px;
    margin-left: 1%;
    text-align: center;
    float: none;
    display: inline-block;
    vertical-align: top
}

.table-one .table-col-two img {
    max-width: 40px;
    position: relative;
    top: 20px
}

.table-one tr td:first-child {
    text-align: left;
    background-color: #f0f0f0;
    font-weight: 400
}

.table-one table {
    border-collapse: separate;
    border-spacing: 15px 0
}

.table-one tr:nth-child(odd) {
    background: white
}

.table-one tr:nth-child(even) {
    background: #fafafa
}

.table-one tr td img {
    max-width: 40px
}

.table-one tr.title td {
    padding: 20px 10px
}

.table-one .col-2 td {
    width: calc(100% / 2) !important;
    width: 700px !important
}

.table-one .col-3 td {
    width: calc(100% / 3) !important;
    width: 700px !important
}

.table-one .col-4 td {
    width: calc(100% / 4) !important;
    width: 700px !important
}

.table-one td {
    padding: 20px 15px
}

.table-one table {
    margin-bottom: 90px
}

.table-columns-wrap .svg {
    max-width: 45px
}

.table-columns-wrap .icon {
    width: 45px;
    vertical-align: middle;
    display: table-cell
}

.table-columns-wrap .text {
    vertical-align: middle;
    display: table-cell
}

.center.style-two {
    max-width: 750px;
    margin: 0 auto
}

.table-columns-wrap.more table.col-2 {
    max-width: 750px;
    margin: 0 auto;
    padding-bottom: 90px;
    padding-top: 90px
}

.table-columns-wrap.more table.col-3 {
    padding-top: 90px;
    margin-bottom: 0;
    padding-bottom: 90px
}

.phone-section {
    text-align: center;
    padding: 20px 0
}

.phone-section .icon-container {
    display: inline-block;
    vertical-align: middle;
    width: 18%;
    text-align: right;
    zoom: 1;
    * display: inline
}

.phone-section .text {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    height: auto;
    text-align: left;
    zoom: 1;
    * display: inline
}

.phone-section .title {
    height: auto;
    text-align: left;
    opacity: 1
}

.suggested-banner .black-overlay {
    min-height: 600px
}

.suggested-banner-inner {
    padding: 70px 15px;
    text-align: center
}

.suggested-banner-inner .product-wrapper {
    float: none !important;
    display: inline-block !important;
    max-width: 320px;
    min-width: 320px;
    vertical-align: top
}

.suggested-banner-inner .title-text {
    margin-bottom: 40px
}

.suggested-banner-inner .product {
    text-align: center;
    background-color: white;
    opacity: .85;
    max-width: 320px;
    min-height: 320px;
    padding: 30px 15px;
    margin-bottom: 25px
}

.suggested-banner-inner .product .title {
    font-size: 30px;
    font-weight: 300
}

.suggested-banner-inner .product .icon {
    margin-top: 20px
}

.suggested-banner-inner .product .icon img {
    max-width: 110px
}

.suggested-banner-inner .product .cta {
    margin-top: 35px
}

.quote-section {
    padding: 110px 15px;
    text-align: center;
    max-width: 980px;
    margin: 0 auto
}

.quote-section .quote {
    font-size: 21px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.4em
}

.quote-section .name-and-title {
    margin-top: 30px
}

.dark-blue-overlay {
    background-color: rgba(0, 44, 146, .90);
    padding: 75px 15px;
    color: white
}

.blue-overlay {
    background-color: rgba(60, 141, 206, 0.85);
    padding: 75px 15px;
    color: white
}

.blue-section-cta {
    text-align: center
}

.blue-section-cta .title {
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 15px
}

.blue-section-cta .text {
    font-size: 18px;
    font-weight: 300;
    max-width: 568px;
    margin: 0 auto;
    margin-bottom: 40px
}

.blue-section-cta .text.five-twenty {
    max-width: 520px
}

.blue-section-cta .cta .cta_button {
    box-shadow: none !important;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 5px;
    text-transform: uppercase
}

.reviews-section {
    padding: 100px 15px
}

.reviews-section .title {
    font-size: 48px;
    font-weight: 300;
    text-align: center
}

.reviews-section .tabs {
    margin-top: 50px
}

.reviews-section .tabs button {
    padding: 25px;
    background-color: transparent;
    border-bottom: none !important
}

.reviews-section .tabs button:focus {
    outline: 0
}

.reviews-section .tabs .active {
    color: white;
    opacity: 1
}

.reviews-section .question-answers {
    display: none
}

.pr-logo-container.pr-pull-right {
    display: none
}

.reviews-section .prPaContainer, .prPaFooter {
    width: 100% !important
}

.review-section .pr_write_review .form-group span {
    font-size: 21px;
    line-height: 1;
    font-weight: 500
}

.review-section .p-w-r .pr-helper-text {
    font-size: 16px;
    font-weight: 300
}

span.pr-tag-label {
    font-size: 18px !important;
    font-weight: 300
}

.newsletter-form {
    max-width: 400px;
    margin: 0 auto
}

.newsletter-form form label {
    display: none
}

.newsletter-form form .hs-error-msgs label {
    display: block !important;
    margin-bottom: 20px;
    margin-top: -10px
}

.newsletter-form form input[type="text"], .newsletter-form form input[type="email"] {
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    color: #666
}

.newsletter-form form input[type="submit"] {
    min-width: 150px
}

.ny-advisor {
    text-align: center;
    margin-bottom: 50px
}

.advisor-image {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle
}

.advisor-header {
    text-decoration: underline
}

.advisor-image img {
    max-width: 100%;
    border-radius: 50%
}

.advisor-details {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    padding-left: 25px
}

.advisor-details a {
    color: #3e8dcb
}

.cm-signup-wrapper.wide {
    padding: 0 0 5em 0
}

.cm-signup-wrapper.wide .cm-signup__detail {
    padding-left: 0;
    padding-right: 40px
}

.home-prequal-section-title {
    font-size: 2.3rem;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 300;
    margin-top: 50px
}

.cm-signup-wrapper.wide h2.cm-signup__detail__title {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5em
}

.cm-signup-wrapper.wide li.cm-signup__detail__list {
    font-size: 22px;
    font-weight: 300;
    background-size: 26px
}

.cm-signup-wrapper.wide li.cm-signup__detail__list {
    background-image: url(//cdn2.hubspot.net/hubfs/616968/website-images/icons/check-2.png?t=1485547716764) !important;
    background-position: 0 !important
}

.cm-signup-wrapper.wide .cm-signup__detail__list span {
    padding-left: .8em
}

.hs-content-id-4120118256 .table {
    margin-bottom: 20px
}

.hs-content-id-4120118256 .table-responsive {
    margin-bottom: 40px
}

._hj-f5b2a1eb-9b07_pull_left {
    display: none !important
}

- @media screen and (max-width:1240px) {
    .table-col .table-title {
        font-size: 2.5vw
    }
}

@media screen and (max-width:1170px) {
    .page-color-cta {
        text-align: center
    }

    .page-color-cta .button {
        display: block
    }

    .page-color-cta .cta-one-text {
        max-width: 100%;
        margin-bottom: 15px;
        display: block;
        font-size: 32px
    }

    .page-color-cta a.cta_button {
        margin-top: 15px
    }
}

@media screen and (max-width:768px) {
    .show-on-desktop {
        display: none !important
    }

    .show-on-mobile {
        display: block !important
    }
}

@media screen and (max-width:767px) {
    .cm-signup-wrapper.wide .cm-signup__detail {
        padding-top: 0 !important
    }

    .features-section .left-col, .features-section .right-col {
        max-width: 100%;
        float: none
    }

    .features-section .row .text {
        max-width: 100%
    }

    .table-one-icons .icon-container {
        display: none
    }

    .table-columns-wrap .icon {
        display: none
    }

    .table-one-icons .text {
        padding-left: 0
    }

    .table-columns-wrap .text {
        display: block
    }

    .table-one .table-col {
        width: 23%;
        margin-left: 0
    }

    .table-one-icons {
        width: 28% !important
    }

    .table-col .cta_button {
        font-size: 15px;
        margin: 10px;
        padding: .7rem 1px
    }

    .table-one li:last-child {
        padding: 7px
    }

    .table-one .table-col img {
        max-width: 30px;
        top: 25px
    }

    .table-columns-wrap table.col-4 {
        table-layout: fixed
    }

    .table-one .col-4 td {
        width: calc(100% / 4) !important
    }

    .table-one tr.title td {
        font-size: 20px
    }

    .table-columns-wrap .cta_button {
        font-size: 14px
    }

    ul.checkmarks li {
        width: 100% !important;
        padding-right: 0 !important
    }
}

@media screen and (max-width:550px) {
    .table-one table {
        border-collapse: collapse;
        border-spacing: 15px 0
    }

    .table-one-icons {
        width: 22% !important;
        font-size: 15px
    }

    .table-col .table-title {
        font-size: 17px;
        padding: 0 5px
    }

    .table-columns-wrap .cta_button {
        display: inline-block;
        width: 60%;
        font-size: 18px
    }

    .table-one .table-col {
        width: 24%;
        margin-left: .5%
    }

    .table-columns-wrap .title {
        font-size: 17px;
        padding: 0 5px
    }

    .table-one tr td:first-child {
        font-size: 12px
    }

    .reviews-section .tabs button {
        padding: 15px 5px;
        font-size: 14px
    }

    .table-one td {
        padding: 15px 2px;
        font-size: 12px
    }

    .table-one td .cta_button {
        font-size: 12px;
        padding: 12px 0;
        width: 100%
    }

    .table-one tr td img {
        max-width: 25px
    }

    .table-columns-wrap tr.title td {
        font-size: 14px;
        font-weight: 400
    }

    .table-columns-wrap.more .table-one {
        padding: 90px 15px
    }
}

.landing .banner-text {
    padding-top: 110px
}

.hs-content-id-4174658519 .banner-text {
    padding-bottom: 90px
}

.banner-smart .banner-text a {
    color: #f15e22
}

.landing .main-nav-wrapper .span2.widget-span.widget-type-raw_jinja {
    width: 74%
}

.form-one .hbspt-form {
    max-width: 550px;
    margin: 0 auto;
    font-weight: 400
}

.form-one .hs-form-required {
    display: none
}

.form-one .submitted-message {
    font-size: 30px;
    max-width: 550px
}

.form-one input[type="text"], .form-one input[type="email"], .form-one input[type="tel"] {
    width: 100%;
    color: #666363
}

.form-one .input {
    margin-top: 15px
}

.form-one .hs-error-msgs.inputs-list {
    padding-top: 10px
}

.form-one li.hs-form-booleancheckbox span {
    display: none
}

.form-one .hs_authorize_contact.field.hs-form-field {
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px
}

.form-one .hs_authorize_contact.field.hs-form-field .input {
    max-width: 25px;
    position: absolute;
    top: -15px
}

.form-one .hs-field-desc {
    padding-left: 25px;
    text-align: left
}

.form-one .cta-copy {
    font-weight: 300
}

.form-one .cta-copy a {
    font-weight: 600;
    color: white;
    text-decoration: underline
}

.form-one .cta-copy.small {
    font-weight: 300;
    font-size: 13px;
    max-width: 550px;
    margin: 0 auto
}

.sign-up-newsletter h2 {
    font-weight: 300
}

.sign-up-newsletter .hs-form-required {
    display: none
}

.sign-up-newsletter input[type="email"] {
    width: 100%
}

.sign-up-newsletter .input {
    margin-bottom: 15px
}

.sign-up-newsletter input[type="submit"] {
    width: 100%;
    max-width: 160px
}

.sign-up-newsletter .submitted-message {
    font-size: 30px
}

.questions-page .black-overlay {
    min-height: 280px
}

.questions-page .banner-smart h1 {
    margin: 0
}

.questions-page .banner-text {
    padding: 100px 15px 142px
}

.reviews-page .black-overlay {
    min-height: 280px
}

.reviews-page .banner-smart h1 {
    margin: 0
}

.reviews-page .banner-text {
    padding: 100px 15px 142px
}

.questions-page .pr-header {
    display: none
}

.p-w-r {
    font-family: 'Source Sans Pro', sans-serif !important
}

.p-w-r .pr-war {
    margin: 0 auto
}

.p-w-r .alert-warning, .p-w-r .pr-alert-warning {
    max-width: 700px;
    margin: 0 auto
}

.pr-btn.pr-btn-default.pr-btn-review {
    background-color: #00a049;
    border-radius: 3px;
    color: #fff;
    padding: .7rem .86rem;
    box-shadow: 0 1px 3px rgba(1, 74, 34, 0.5);
    transition: background-color .5s ease;
    border-color: #00a049
}

.pr-btn.pr-btn-default.pr-btn-review:hover {
    background-color: #02ae50;
    border-color: #02ae50
}

.pr-btn.pr-btn-default.pr-btn-review:focus {
    background-color: #02ae50;
    border-color: #02ae50
}

span.pr-tag-label {
    font-size: 16px !important;
    font-weight: 300 !important;
    font-family: 'Source Sans Pro', sans-serif !important
}

.pr-btn.pr-btn-default {
    font-weight: 300;
    font-size: 16px
}

.p-w-r .pr-subscript, .p-w-r .pr-subscript a {
    font-size: 18px !important;
    font-weight: 300;
    line-height: 1
}

p.form-group.pr-waq-legal-text span {
    font-weight: 300 !important;
    font-size: 16px !important
}

.pr-btn.pr-btn-default {
    font-size: 16px !important;
    font-weight: 300 !important
}

.p-w-r .pr-header-required, .p-w-r .pr-header-required span {
    font-size: 16px !important
}

.p-w-r .alert-warning, .p-w-r .pr-alert-warning {
    font-weight: 300;
    font-size: 18px
}

.p-w-r a {
    font-size: 16px
}

.form-group input, .form-group textarea {
    font-weight: 300 !important;
    font-size: 17px !important
}

body.magic-minute {
    overflow-x: hidden
}

.half {
    margin-right: -15px
}

.half .left {
    width: 49%;
    display: inline-block;
    background-size: cover !important;
    background-position: bottom !important
}

.half .left img {
    max-width: 100%;
    max-height: 100%
}

.half .right {
    width: 50%;
    display: inline-block;
    background-color: black;
    vertical-align: top;
    text-align: center;
    padding: 0 15px
}

.half .right .logo img {
    max-width: 155px;
    max-height: 96px;
    margin-top: 50px
}

.half .right .title {
    font-size: 48px;
    font-weight: 300;
    color: #fff;
    max-width: 450px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 20px
}

.half .right .body {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    max-width: 440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px
}

.half .right .links a {
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 300;
    padding: 0 10px
}

.half .right .cta {
    margin-top: 45px;
    margin-bottom: 50px;
    min-height: 70px
}

.half .right .cta .cta_button {
    border-radius: 4px !important;
    text-transform: uppercase;
    padding: 17px 0 !important;
    width: 100%;
    max-width: 440px;
    font-family: 'Source Sans Pro', sans-serif !important
}

.magic-video {
    padding: 88px 0;
    background-color: #328cd3;
    margin-top: -5px;
    position: relative
}

.magic-video .l-page-wrap {
    text-align: center
}

.magic-minute .magic-video iframe {
    width: 100% !important;
    height: 473px !important;
    max-width: 836px;
    max-height: 473px
}

.magic-video .play-button {
    position: absolute;
    top: 33%;
    left: 0;
    right: 0
}

.magic-video .play-button img {
    max-width: 188px;
    max-height: 188px;
    cursor: pointer
}

@media screen and (max-width:767px) {
    .half {
        margin-right: 0
    }

    .half .left {
        width: 100%;
        height: 500px;
        display: none
    }

    .half .right {
        width: 100%
    }

    .magic-video .play-button img {
        display: none
    }
}

@media screen and (max-width:550px) {
    .magic-minute .magic-video iframe {
        height: 280px !important
    }

    .magic-video .play-button {
        top: 36%
    }

    .magic-video .play-button img {
        max-width: 100px;
        max-height: 100px
    }
}

@media screen and (max-width:1025px) {
    .main-menu ul > li.hs-menu-depth-1:first-child ul.hs-menu-children-wrapper li:last-child a {
        background-size: 90% !important
    }

    .main-menu ul > li.hs-menu-depth-1:nth-child(2) ul.hs-menu-children-wrapper li:last-child a {
        background-size: 90% !important
    }

    .main-menu ul > li.hs-menu-depth-1:nth-child(3) ul.hs-menu-children-wrapper li:last-child a {
        background-size: 90% !important
    }

    .main-menu ul > li.hs-menu-depth-1:nth-child(4) ul.hs-menu-children-wrapper li:last-child a {
        background-size: 90% !important
    }
}

@media screen and (max-width:885px) {
    .main-menu ul > li.hs-menu-depth-1 .hs-menu-children-wrapper a {
        padding: .35rem 13px !important
    }

    .main-menu ul > li.hs-menu-depth-1:first-child ul.hs-menu-children-wrapper li:last-child a {
        background-size: 80% !important
    }

    .main-menu ul > li.hs-menu-depth-1:nth-child(2) ul.hs-menu-children-wrapper li:last-child a {
        background-size: 80% !important
    }

    .main-menu ul > li.hs-menu-depth-1:nth-child(3) ul.hs-menu-children-wrapper li:last-child a {
        background-size: 80% !important
    }

    .main-menu ul > li.hs-menu-depth-1:nth-child(4) ul.hs-menu-children-wrapper li:last-child a {
        background-size: 80% !important
    }
}

.media-center .black-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    min-height: 0;
    padding: 125px 0 175px
}

.media-center .banner-text {
    float: none !important;
    padding: 0 15px
}

.media-center .banner-smart h1 {
    font-size: 64px;
    text-transform: uppercase
}

.media-center .media-content {
    background-color: #f3f3f3;
    padding: 85px 0 120px
}

.media-content .title {
    font-size: 40px;
    font-weight: 300;
    color: #666363;
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
    margin-bottom: 40px
}

.media-center .media-content-inner {
    float: none !important
}

.media-center .press-releases {
    background-color: white;
    padding: 20px 40px;
    float: none !important;
    display: inline-block !important;
    max-width: 840px;
    margin-bottom: 88px
}

.media-center .recent-blog-posts {
    padding: 20px 40px;
    background-color: #fff;
    max-width: 840px;
    margin-bottom: 88px
}

.media-center .in-the-news {
    padding: 20px 40px;
    background-color: #fff;
    max-width: 840px;
    margin-bottom: 88px
}

.media-center .follow-us {
    background-color: white;
    padding: 40px 25px;
    float: none !important;
    display: inline-block !important;
    max-width: 340px;
    margin-bottom: 35px
}

.media-center .annual-reports {
    background-color: white;
    padding: 35px 25px;
    float: none !important;
    max-width: 340px;
    margin-bottom: 35px
}

.media-center .twitter-feed {
    background-color: white;
    padding: 35px 25px;
    float: none !important;
    max-width: 340px;
    margin-bottom: 35px
}

.recent-item .image-container img {
    max-width: 282px;
    max-height: 188px
}

.media-center .hs-rss-item.hs-with-featured-image .hs-rss-item-text {
    width: 57%;
    float: right;
    padding-right: 20px;
    box-sizing: border-box;
    max-width: 431px
}

.media-center .hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
    display: inline-block;
    width: 37%;
    float: left;
    max-width: 282px
}

.media-center a.hs-rss-title {
    font-size: 30px;
    font-weight: 300
}

.media-center .hs-rss-description {
    margin-top: 10px
}

.media-center .hs-rss-description p {
    font-weight: 300;
    font-size: 18px
}

.media-center .hs-rss-description p a {
    font-weight: 400;
    font-size: 18px;
    color: #00a049
}

.media-center .hs-rss-item {
    margin-bottom: 40px
}

.media-center .follow-us h4.social-media__title {
    color: #666363;
    font-size: 30px;
    font-weight: 300;
    padding-bottom: 10px
}

.media-center .read-all-posts a {
    color: white;
    background-color: #00a049;
    padding: 13px 24px;
    border-radius: 4px
}

.media-center .read-all-posts {
    text-align: center;
    margin-bottom: 50px
}

.media-center .follow-us .iconMedium {
    height: 45px;
    width: 45px
}

.media-center .follow-us .social-media__item {
    padding: 0
}

.media-center .sidebar {
    width: 24% !important;
    margin-left: 1% !important
}

.media-center .annual-reports .title {
    font-size: 25px;
    text-transform: uppercase
}

.media-center .annual-reports a {
    font-size: 19px;
    font-weight: 300;
    cursor: pointer
}

.media-center .annual-reports .title {
    margin-bottom: 25px
}

.media-center .annual-reports li {
    margin-bottom: 8px
}

.media-center .twitter-container {
    max-height: 700px !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important
}

.media-center .in-the-news li a {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.2em
}

.media-center .in-the-news li {
    margin-bottom: 35px
}

.media-center .in-the-news .date {
    margin-top: 10px;
    font-weight: 600
}

.media-center .footer-container-wrapper {
    border-top: 1px solid #bcbdbd
}

.media-center .press-releases a {
    font-size: 25px;
    font-weight: 300
}

.media-center .press-releases .post-date {
    margin-top: 5px;
    margin-bottom: 35px;
    font-weight: 600
}

.media-center .social-media {
    margin-top: 0
}

.media-center a:hover, .media-center a:focus {
    text-decoration: none;
    cursor: pointer;
    color: #00a049
}

.media-center .read-all-posts a:hover {
    color: white
}

.press-releases .simple-banner .title {
    text-align: center
}

.press-releases .simple-banner {
    background-size: cover !important
}

.press-releases .dark-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    min-height: 0;
    padding: 125px 15px
}

.press-releases .simple-banner h1 {
    font-size: 64px;
    color: white;
    font-weight: 300
}

.press-releases .post-header h1 span {
    font-size: 48px;
    font-weight: 300
}

.press-releases .post-body p {
    font-weight: 300
}

.press-releases .sfnewsMetaInfo {
    font-weight: 600
}

.press-releases .media-content .press-releases {
    padding: 50px 20px
}

.press-releases .media-content .sfnewsContent a {
    font-size: 18px
}

.press-releases .blog-pagination {
    margin-top: 50px;
    text-align: center
}

.press-releases .post-header h2 {
    margin-bottom: 0
}

.press-releases .post-item {
    margin-bottom: 20px
}

@media screen and (max-width:767px) {
    .media-center .black-overlay {
        padding: 100px 0 100px
    }

    .media-center .sidebar {
        width: 100% !important;
        margin-left: 0 !important
    }

    .media-center .follow-us {
        max-width: 100%;
        width: 100%;
        text-align: center
    }

    .media-center .annual-reports {
        max-width: 100%;
        width: 100%;
        text-align: center
    }

    .media-center .twitter-feed {
        max-width: 100%;
        width: 100%;
        text-align: center
    }

    .media-center .footer-logo {
        text-align: center
    }

    .media-center .press-releases {
        width: 100%;
        width: 100%
    }
}

@media screen and (max-width:500px) {
    .media-center .hs-rss-item.hs-with-featured-image .hs-rss-item-image-wrapper {
        display: inline-block;
        width: 100%;
        float: none;
        max-width: 100%
    }

    .media-center .hs-rss-item.hs-with-featured-image .hs-rss-item-text {
        width: 100%;
        float: none;
        max-width: 100%
    }

    .media-content .title {
        font-size: 40px;
        line-height: 1
    }

    .media-center .press-releases a {
        font-size: 21px
    }

    .media-center .in-the-news li a {
        font-size: 21px
    }
}

.nsmc .magic-video a {
    color: #328cd3
}

.nsmc .half {
    background-color: black
}

.nsmc .half .left {
    background-position: center !important
}

.nsmc .magic-video {
    background-color: white
}

.nsmc .magic-video .span12.widget-span.widget-type-cell {
    float: none
}

.nsmc .half .right .logo img {
    max-width: 225px
}

.nsmc .half .right .title {
    max-width: 500px
}

.nsmc .half .right .body {
    max-width: 500px;
    text-align: left;
    margin-bottom: 50px
}

.nsmc .half .right .body a {
    color: #328cd3
}

.nsmc .section-two-rtf {
    max-width: 750px;
    text-align: left;
    margin: 0 auto !important;
    float: none
}

.nsmc .section-two-rtf h2 {
    text-align: center;
    margin-bottom: 20px
}

.nsmc .section-two-rtf h2 span {
    font-size: 48px;
    font-weight: 300
}

.nsmc .section-two-rtf p span {
    font-weight: 300
}

.features-section .row .text .title a {
    color: #00a049
}

a.green-link {
    color: #00a049
}

.mortgages-page .left-col .button--green, .mortgages-page .right-col .button--green {
    background-color: transparent;
    border-radius: 3px;
    color: #fff;
    padding: 0 0 4px;
    box-shadow: none;
    transition: none;
    font-weight: 300 !important
}

.mortgages-page .calc-list {
    max-width: 60%;
    padding-bottom: 25px
}

.mortgages-page .calc-list li {
    padding: 0 0 0 15%
}

.mortgages-page .calc-list li:last-child {
    float: left
}

.mortgages-page .lending-process-section .icon-container {
    text-align: right
}

.mortgages-page .features-section .row .icon-container {
    max-width: 60px;
    width: 60px;
    height: 60px
}

@media screen and (max-width:767px) {
    .mortgages-page .calc-list li {
        text-align: center;
        padding: 0
    }
}

.blog-2016-listing .black-overlay .span12.widget-span.widget-type-cell {
    float: none
}

.blog-2016 .body-wrap {
    background-color: #f3f3f3;
    padding: 85px 0 120px
}

.blog-2016-listing .topic-section .title {
    font-size: 40px;
    font-weight: 300;
    color: #666363;
    border-bottom: 1px solid #979797;
    padding-bottom: 5px;
    margin-bottom: 40px
}

.blog-2016-listing .topic-section {
    background-color: white;
    padding: 20px 40px;
    float: none !important;
    display: inline-block !important;
    max-width: 840px;
    margin-bottom: 88px;
    width: 100%
}

.blog-2016-listing .topic-section .post-image img {
    max-width: 100%
}

.blog-2016-listing .topic-section .post-image {
    max-width: 45%;
    display: inline-block
}

.blog-2016-listing .topic-section .post-info {
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
    margin-left: 3%
}

.blog-2016-listing .topic-section .post-title a {
    font-size: 30px;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
    color: #666363
}

.blog-2016-listing .topic-section .post-title a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #00a049
}

.blog-2016-listing .topic-section .post-summary {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.55;
    margin-top: 10px;
    color: #666363
}

.blog-2016-listing .topic-section .post-summary a {
    cursor: pointer;
    color: #00a049;
    text-decoration: none;
    font-weight: 400
}

.blog-2016-listing .topic-section .post-summary a:hover {
    text-decoration: underline
}

.blog-2016-listing .topic-section .post {
    margin-bottom: 40px
}

.blog-2016-listing .topic-section .view-all {
    text-align: center;
    margin-bottom: 25px
}

.blog-2016-listing .topic-section .view-all a {
    color: white;
    background-color: #00a049;
    padding: 13px 24px;
    border-radius: 4px;
    font-size: 18px
}

.blog-2016-listing .black-overlay {
    background-color: rgba(0, 0, 0, 0.35);
    min-height: 0;
    padding: 102px 0
}

.blog-2016-listing .banner-text {
    float: none !important;
    padding: 0 15px
}

.blog-2016-listing .banner-smart h1 {
    font-size: 60px;
    line-height: 1 !important
}

.blog-2016-listing .media-content {
    background-color: #f3f3f3;
    padding: 85px 0 120px
}

.blog-2016-listing .media-content-inner {
    float: none !important
}

.blog-2016-listing .subscribe-container {
    background: white;
    border: 0;
    border-radius: 0;
    padding: 20px
}

.blog-2016-listing .subscribe-container input {
    font-weight: 300 !important
}

.blog-2016-listing .media-content .blog-sidebar h3 {
    color: #666363;
    font-size: 24px !important;
    font-weight: 300;
    padding-bottom: 10px
}

.blog-2016 .subscribe-container {
    background: white;
    border: 0;
    border-radius: 0
}

.blog-2016 .subscribe-container input {
    font-weight: 300 !important
}

.blog-2016 .blog-sidebar h3 {
    color: #666363;
    font-size: 24px !important;
    font-weight: 300;
    padding-bottom: 10px
}

.blog-2016 .footer {
    border-top: 1px solid #bbbcbc
}

.blog-2016 .section.post-header h1 span {
    color: #666363;
    font-size: 38px !important;
    line-height: 1 !important
}

.blog-2016 .blog-section.inner-post {
    background: white;
    padding: 20px 40px
}

.blog-2016 .all-section {
    background-color: white;
    padding: 20px 40px;
    float: none !important;
    display: inline-block !important;
    max-width: 840px;
    margin-bottom: 88px;
    width: 100%
}

.blog-2016 .all-section .post-image img {
    max-width: 100%
}

.blog-2016 .all-section .post-image {
    max-width: 100%
}

.blog-2016 .all-section .post-info {
    max-width: 100%
}

.blog-2016 .all-section .post-title {
    margin-bottom: 25px
}

.blog-2016 .all-section .post-title a {
    font-size: 42px;
    font-weight: 300;
    line-height: 1;
    text-decoration: none;
    color: #666363
}

.blog-2016 .all-section .post-title a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #00a049
}

.blog-2016 .all-section .post-author {
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #666363 !important;
    border-bottom: 1px solid #dadada;
    padding-bottom: 12px
}

.blog-2016 .all-section .post-author a {
    color: #00a049 !important;
    text-decoration: none;
    font-weight: 400
}

.blog-2016 .all-section .post-author a:hover {
    text-decoration: underline
}

.blog-2016 .all-section .post-summary {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.55;
    margin-top: 10px;
    color: #666363
}

.blog-2016 .all-section .post-summary a {
    cursor: pointer;
    color: #00a049;
    text-decoration: none;
    font-weight: 400
}

.blog-2016 .all-section .post-summary a:hover {
    text-decoration: underline
}

.blog-2016 .all-section .post .post-summary p {
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #666363 !important
}

.blog-2016 .all-section .post .post-summary p span {
    font-size: 18px !important;
    font-weight: 300 !important;
    color: #666363 !important;
    font-family: 'Source Sans Pro', sans-serif !important
}

.blog-2016 .all-section .post {
    padding-top: 20px;
    margin-bottom: 40px
}

.blog-2016 .all-section .view-all {
    margin-top: 25px;
    margin-bottom: 25px
}

.blog-2016 .all-section .view-all a {
    color: white;
    background-color: #00a049;
    padding: 13px 24px;
    border-radius: 4px;
    font-size: 18px
}

.blog-2016-listing .banner-smart h2 {
    font-size: 21px !important;
    line-height: 21px;
    font-weight: 400;
    color: #fff
}

.blog-2016 .blog-search {
    background: white;
    margin-bottom: 40px;
    padding: 20px !important
}

.blog-2016 .blog-search .sidebar-title {
    color: #666363;
    font-size: 24px !important;
    font-weight: 300 !important;
    padding-bottom: 10px
}

.blog-2016 .blog-search .gsc-input-box {
    border: 0;
    padding: 0
}

.blog-2016 .blog-search .gsc-input-box input {
    -webkit-appearance: none;
    height: 43px !important;
    background: none !important;
    font-weight: 300;
    box-shadow: none !important;
    border-radius: 4px !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    padding: 0 10px !important;
    border: 1px solid #dadada !important;
    margin: 0 !important
}

.blog-2016 .blog-search .gsc-input-box input:focus {
    outline-offset: 0 !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important
}

.blog-2016 .blog-search .gsc-search-box-tools .gsc-search-box td.gsc-input {
    padding: 0 !important;
    margin-left: -10px !important;
    padding-right: 10px !important
}

.blog-2016 .blog-search .gsc-input-box td#gs_tti51 {
    padding: 0 !important
}

.blog-2016 .blog-search .gsc-input-box input::-webkit-input-placeholder {
    color: white !important
}

.blog-2016 .blog-search .gsc-input-box input::-moz-placeholder {
    color: white !important
}

.blog-2016 .blog-search .gsc-input-box input:-ms-input-placeholder {
    color: white !important
}

.blog-2016 .blog-search .gsc-input-box input:-moz-placeholder {
    color: white !important
}

.blog-2016 .blog-search .gsc-input-box span#gs_cb51 {
    display: none !important
}

.blog-2016 .blog-search .gsc-input-box input[type="text"]:focus {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important
}

@media screen and (max-width:767px) {
    .blog-2016-listing .banner-smart h1 {
        font-size: 48px !important
    }

    .blog-2016 .blog-search form.gsc-search-box {
        float: none !important;
        max-width: 100% !important
    }
}

@media screen and (max-width:500px) {
    .blog-2016-listing .topic-section .post-image {
        max-width: 100%
    }

    .blog-2016-listing .topic-section .post-image img {
        width: 100%
    }

    .blog-2016-listing .topic-section .post-info {
        max-width: 100%;
        margin-left: 0
    }
}

.search-results-page .black-overlay {
    min-height: 200px
}

.search-results-page .banner-text {
    padding: 85px
}

.e-services .product-detail-wrapper.eservices-ob {
    padding-bottom: 50px !important
}

.e-services .product-detail-wrapper.eservices-mb {
    padding: 0 !important
}

.e-services .product-detail-wrapper.eservices-account-opening {
    padding: 50px 0 !important
}

.e-services .product-detail-table {
    margin: 0 auto !important
}

@media screen and (max-width:767px) {
    .product-detail-content {
        padding: 0 15px !important
    }
}

.blank iframe {
    width: 100% !important;
    border: none !important
}

.blank iframe blockquote {
    margin: 0 !important
}

.blank iframe blockquote a img {
    display: none !important
}

.blank .rtf-wrap {
    margin-top: 50px;
    margin-bottom: 50px
}

.blank .rtf-wrap ul {
    list-style-type: disc;
    margin: 0
}

.blank .rtf-wrap ul li {
    margin-left: 40px;
    margin-top: 5px
}

.blank .form-wrap {
    margin-bottom: 50px;
    max-width: 750px;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none;
    text-align: center
}

.blank .form-wrap input {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px
}

.blank .form-wrap .hs-form-field {
    text-align: left;
    font-size: 18px
}

.blank .form-wrap .hs-form-field span {
    font-size: 18px
}

.blank .form-wrap .hs-form fieldset {
    max-width: 100%
}

.blank .form-wrap .hs_submit input {
    width: auto !important;
    font-size: 18px
}

.blank .form-wrap .hs_submit {
    margin-top: 15px;
    text-align: center
}

.blank .form-wrap .hs-error-msgs label {
    color: red
}

.blank .form-wrap span {
    font-size: 28px
}

.blank .banner-text {
    padding: 178px 0
}

.blank .banner-text h1 {
    margin-bottom: 0
}

@media screen and (max-width:480px) {
    .blank .form-wrap .hs-form fieldset.form-columns-2 .input {
        margin-right: 0
    }

    .blank .form-wrap .hs-form fieldset.form-columns-2 .hs-form-field {
        width: 100%
    }
}

@media screen and (max-width:400px) {
    .blank .form-wrap .hs-form-field input {
        width: 100% !important
    }
}

.spanish-page .black-overlay {
    min-height: 422px
}

.spanish-page .banner-text {
    padding: 178px 0
}

.spanish-page .banner-text h1 {
    margin-bottom: 0
}

.spanish-page .features-subtext {
    font-weight: 300;
    max-width: 924px;
    margin: 0 auto
}

.spanish-page .table-columns-wrap .fix-height {
    font-size: 0
}

.spanish-page .sp-about-usa, .spanish-page .sp-sign-in {
    width: 50%;
    display: inline-block;
    vertical-align: top;
    padding: 80px 30px
}

.spanish-page .sp-about-usa .inner-align {
    max-width: 538px;
    text-align: left;
    margin-left: auto
}

.spanish-page .sp-about-usa h2 {
    text-align: left
}

.spanish-page .sp-sign-in {
    background-size: cover !important;
    text-align: center
}

.spanish-page .sp-sign-in p {
    margin-bottom: 1.25rem
}

.spanish-page .fix-height p {
    font-size: 18px;
    font-weight: 300
}

.spanish-page .sp-about-usa .footnotes-bold {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.3
}

.spanish-page .sp-about-usa .footnotes {
    padding-left: 0;
    font-size: 11px;
    margin-top: 0
}

@media only screen and (max-width:767px) {
    .spanish-page .sp-about-usa, .spanish-page .sp-sign-in {
        width: 100%;
        display: block
    }

    .spanish-page .sp-about-usa .inner-align {
        text-align: center;
        margin: 0 auto
    }

    .spanish-page .sp-about-usa h2 {
        text-align: center
    }
}

.features-item .body a {
    font-weight: 500
}

.features-item .body a .fa {
    font-size: 10px;
    position: relative;
    top: -2px;
    padding-left: 5px
}

.fw-300, .fw-300 p {
    font-weight: 300
}

.recent-posts.three-col {
    text-align: center
}

.recent-posts.three-col .section-title {
    margin-bottom: 50px
}

.recent-posts.three-col .post {
    width: calc(92% / 3);
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
    text-align: left;
    background-color: white;
    padding: 40px;
    min-height: 585px
}

.recent-posts.three-col .post img {
    max-width: 100%
}

.recent-posts.three-col .post:nth-child(3) {
    margin: 0 3%
}

.recent-posts.three-col .post .post-title a {
    font-size: 1.8rem;
    margin-bottom: 1.8rem
}

.recent-posts.three-col .post .post-title {
    margin-bottom: 20px
}

.recent-posts.three-col .post .post-info {
    margin-bottom: 20px
}

.recent-posts.three-col .post .post-summary {
    line-height: 1.55
}

.recent-posts.three-col .post .post-summary a {
    color: #00a049;
    font-weight: 400
}

@media screen and (max-width:767px) {
    .recent-posts.three-col .post:nth-child(3) {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px
    }

    .recent-posts.three-col .post {
        margin-bottom: 25px
    }

    .recent-posts.three-col .post {
        width: 100%;
        min-height: 0
    }
}

.ta-center {
    text-align: center
}

.table-boxes {
    display: table;
    width: 100%;
    border-collapse: separate;
    border-spacing: 35px 0
}

.table-cell {
    display: table-cell;
    width: 50%;
    padding: 35px;
    vertical-align: middle
}

.table-cell h2 {
    font-weight: 400
}

.table-boxes ul li {
    padding: 4px 0
}

.inner-section {
    padding: 25px 0
}

.inner-section.seven-fifty {
    max-width: 750px;
    margin: 0 auto !important;
    float: none !important
}

.inner-section h2 {
    margin-bottom: 20px;
    font-weight: 400
}

.inner-section a {
    color: #00a049
}

ul.inline {
    text-align: center;
    margin-bottom: 50px
}

ul.inline li {
    display: inline-block;
    border-right: 1px solid #666363;
    padding-right: 10px;
    padding-left: 5px
}

ul.inline li:last-child {
    border: 0
}

ul.inline li a {
    color: #00a049
}

@media screen and (max-width:767px) {
    .table-cell {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        height: auto !important;
        padding: 75px 35px
    }

    .table-boxes {
        display: block
    }

    .small-text {
        padding: 0 15px !important
    }
}

@media screen and (max-width:480px) {
    ul.inline li {
        border-top: 1px solid #666363;
        padding: 15px 0;
        border-right: 0;
        width: 100%
    }

    ul.inline li:last-child {
        border-top: 1px solid #666363;
        border-bottom: 1px solid #666363
    }
}

.ebook-landing .page-center {
    max-width: 1130px;
    padding: 0 15px;
    margin: 0 auto;
    float: none
}

.ebook-landing .ebook-hero-wrap {
    position: relative
}

.ebook-landing .white-overlay {
    background: rgba(255, 255, 255, 0.9);
    padding-top: 100px
}

.ebook-landing .ebook-hero {
    float: none
}

.ebook-landing .hero-left {
    text-align: center;
    max-height: 585px;
    overflow: hidden;
    max-width: 530px
}

.ebook-landing .hero-left-copy {
    line-height: 1.44em
}

.ebook-landing .ebook-hero h1 {
    color: #3e8dcb
}

.ebook-landing .hero-ebook-image {
    position: relative;
    top: 30px
}

.ebook-landing .hero-ebook-image img {
    max-width: 100%
}

.ebook-landing .hero-form {
    background-color: #3e8dcb;
    padding: 50px 50px 20px;
    position: relative;
    max-width: 470px;
    float: right
}

.ebook-landing .hero-form .hs-form-field label {
    display: none
}

.ebook-landing .hero-form .hs-form-field {
    margin-bottom: 20px
}

.ebook-landing .hero-form input {
    width: 100%;
    border-radius: 0 !important;
    border: 0;
    padding: 15px 20px
}

.ebook-landing .hero-form input[type="submit"] {
    background-color: #7dc142;
    border-radius: 5px !important;
    text-transform: uppercase;
    font-weight: bold
}

.ebook-landing .hero-form-text {
    color: #fff;
    line-height: 1.44em;
    margin: 30px auto 0 !important;
    float: none !important;
    text-align: center;
    max-width: 265px
}

.ebook-landing .form-triangle-down {
    visibility: hidden;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #3e8dcb;
    position: absolute;
    bottom: -30px;
    right: 0
}

.ebook-landing .section-title h2 {
    color: #666363;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    text-transform: none
}

.ebook-landing .features-copy {
    text-align: center;
    max-width: 750px;
    float: none;
    margin: 0 auto 25px !important
}

.ebook-landing .features-copy p {
    font-weight: 300
}

.ebook-landing .features-container > span > div {
    display: inline-block;
    width: calc(98% / 3);
    vertical-align: top
}

.ebook-landing .features-item {
    text-align: center;
    padding: 0 15px;
    margin: 25px 0
}

.ebook-landing .features-item .icon {
    max-width: 70px;
    margin: 0 auto 20px
}

.ebook-landing .features-item .icon img {
    max-width: 100%;
    height: auto
}

.ebook-landing .features-item .title {
    font-size: 21px;
    font-weight: 500
}

.ebook-landing .testimonials-wrapper {
    background-color: #f8f6f7;
    padding: 100px 0
}

.ebook-landing .testimonials-container .section-title {
    margin-bottom: 25px
}

.ebook-landing .testimonials-list > span > div {
    display: inline-block;
    width: calc(99% / 3);
    vertical-align: top
}

.ebook-landing .testimonial-item {
    text-align: center;
    padding: 0 10px;
    margin: 25px 0
}

.ebook-landing .testimonial-item .photo {
    display: none;
    border-radius: 50%;
    border: 1px solid #bdbaba;
    width: 171px;
    height: 171px;
    text-align: center;
    overflow: hidden;
    padding: 7px 8px 8px 7px;
    margin-bottom: 20px
}

.ebook-landing .testimonial-item img {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%
}

.ebook-landing .testimonial-item .name, .ebook-landing .testimonial-item .positon {
    font-weight: 500;
    margin-bottom: 5px
}

.ebook-landing .testimonial-item .name {
    font-weight: 600
}

.ebook-landing .testimonial-item .quote {
    margin-top: 25px
}

.ebook-landing .testimonial-item .quote, .ebook-landing .testimonial-item .quote p {
    font-style: italic;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.38em
}

.lp-footer-wrap {
    background-color: #636668;
    padding: 28px 0
}

.lp-footer {
    color: #fff;
    font-size: 16px
}

@media screen and (max-width:980px) {
    .ebook-landing .hero-left {
        display: block;
        float: none;
        margin: 0 auto 50px;
        width: 100%;
        max-height: none !important;
        max-width: none
    }

    .ebook-landing .hero-form {
        float: none;
        margin: 0 auto
    }

    .ebook-landing .testimonials-list > span > div {
        display: block;
        margin: 0 auto;
        width: 75%
    }

    .ebook-landing .testimonial-item {
        margin: 50px 0
    }
}

@media screen and (max-width:768px) {
    .lp-footer-wrap {
        text-align: center
    }
}

@media screen and (max-width:500px) {
    .ebook-landing .features-container > span > div {
        width: 100%
    }
}


